*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.overhidden {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.valid_error {
  border: 1px solid #ff6d6d;
  background-color: #ffc5c5;
}

body {
  color: #555;
  background-color: #fff;
  font-family: "Cuprum";
}

header {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 1px;
          box-shadow: 1px;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-shadow: 0px 0px 40px 1px #e7e7e7;
          box-shadow: 0px 0px 40px 1px #e7e7e7;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

.logo {
  font-size: 35px;
}

.auth_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth_wrap a:first-child {
  margin-right: 10px;
}

.button_light {
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  line-height: 10px;
  border: 1px solid #aaa;
  padding: 10px 15px;
  font-size: 18px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.button_light.inactive {
  opacity: 0.7;
  cursor: no-drop;
}
.button_light:hover {
  background-color: #e6e6e6;
}

main {
  padding-top: 50px;
  margin-bottom: 40px;
}
main h1 {
  font-weight: 400;
}
main .titles_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game_container {
  padding: 30px;
  margin-top: 50px;
  min-height: 500px;
  width: 100%;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 0px 0px 40px 1px #e7e7e7;
          box-shadow: 0px 0px 40px 1px #e7e7e7;
}

.fields_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.own_field, .enemy_field {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.own_field .bluetext, .enemy_field .bluetext {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}

.player1_field, .player2_field {
  position: relative;
  background: url(../img/textures/imgonline-com-ua-Resize-OEZow6teNVXYcRK.png);
  border-right: 2px solid #d0dfe3;
  border-bottom: 2px solid #d0dfe3;
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

.player2_field {
  margin-top: 78px;
}

.bluetext {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #377dff;
}

.field_markup {
  width: 100%;
  height: 100%;
  position: absolute;
}
.field_markup .horizontal_markup, .field_markup .vertical_markup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.field_markup .horizontal_markup span, .field_markup .vertical_markup span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 19px;
}
.field_markup .horizontal_markup {
  width: 100%;
  top: -25px;
  left: 3px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.field_markup .vertical_markup {
  left: -20px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#action_button {
  margin-top: 30px;
}

.ship {
  background: rgba(187, 198, 255, 0.22);
  position: absolute;
  border: 2px solid #1e87ff;
  height: 30px;
}
.ship.rotated {
  width: 30px;
}

.dot {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #000;
}

.cross {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../img/cross.svg) no-repeat;
  background-size: contain;
  background-position: center center;
}

.clickable {
  cursor: pointer;
  width: 100%;
  position: absolute;
  z-index: 1111;
  height: 100%;
}

.onedeck-rotated {
  height: 30px;
}

.twodeck-rotated {
  height: 60px;
}

.threedeck-rotated {
  height: 90px;
}

.fourdeck-rotated {
  height: 120px;
}

.onedeck {
  width: 30px;
}

.twodeck {
  width: 60px;
}

.threedeck {
  width: 90px;
}

.fourdeck {
  width: 120px;
}

.form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  color: #555;
  font-family: "Cuprum";
  border-radius: 5px;
  line-height: 10px;
  border: 1px solid #a0a0a0;
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.input:hover, .input:focus {
  background-color: #e6e6e6;
}
.input.each {
  margin-top: 40px;
}

.button_light.mt {
  color: #555;
  margin-top: 40px;
  font-family: "Cuprum";
}
.button_light.mt:hover {
  background-color: #e6e6e6;
}

#dark_rect {
  z-index: 111111;
  position: absolute;
  width: 101%;
  height: 101%;
  color: #fff;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#message {
  font-size: 20px;
}

.destroyed {
  position: absolute;
  z-index: 999999;
  cursor: pointer;
  background: url(../img/textures/destroyed.png);
}
.destroyed.horizontal {
  height: 30px;
}
.destroyed.horizontal.one {
  width: 30px;
}
.destroyed.horizontal.two {
  width: 60px;
}
.destroyed.horizontal.three {
  width: 90px;
}
.destroyed.horizontal.four {
  width: 120px;
}
.destroyed.vertical {
  width: 30px;
}
.destroyed.vertical.one {
  height: 30px;
}
.destroyed.vertical.two {
  height: 60px;
}
.destroyed.vertical.three {
  height: 90px;
}
.destroyed.vertical.four {
  height: 120px;
}

@media (max-width: 830px) {
  .fields_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .own_field, .enemy_field {
    width: initial;
  }

  .own_field {
    margin-bottom: 30px;
  }
}
@media (max-width: 520px){
  header h3{
    font-size: 15px;
  }
}
@media (max-width: 440px) {
  .button_light {
    font-size: 14px;
    padding: 7px 10px;
  }

  #action_button {
    font-size: 17px;
    padding: 10px 15px;
  }

  .logo {
    font-size: 25px;
  }

  main.main .container {
    padding: 0;
  }

  main .titles_wrapper {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 380px) {

  #message {
    font-size: 18px;
  }
}
