<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Sea Battle | @ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Sea Battle</a>
            @if (!ViewContext.HttpContext.User.Identity.IsAuthenticated)
            {
                <div class="auth_wrap">
                    <a asp-controller="Account" asp-action="Login" class="button_light">Войти</a>
                    <a asp-controller="Account" asp-action="Create" class="button_light">Зарегистрироваться</a>
                </div>
            }
            else
            {
                <h3>Добро пожаловать, @ViewContext.HttpContext.User.Identity.Name</h3>
                <a asp-controller="Account" asp-action="LogOut" class="button_light">Выйти</a>
            }
        </div>
    </header>
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <script src="~/js/extensions.js"></script>
    <script src="~/js/FieldClasses/Field.js"></script>
    <script src="~/js/fieldBehave.js"></script>
    <script src="~/js/hubHandler.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
