@model LoginForm
<main class="login">
    <div class="container">
        <h1>Войти в систему</h1>
        <form method="POST" asp-controller="Account" asp-action="Login" class="form">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="ReturnUrl"/>
            <input asp-for="Username" placeholder="Login" class="input each" type="text">
            <input asp-for="Password" placeholder="Password" class="input each" type="text">
            <button class="button_light mt">Войти</button>
        </form>
    </div>
</main>