@{ 
    ViewBag.Title = "Главная";
}
<main>
    <div class="container">
        <div class="titles_wrapper">
            <h1>Морской бой онлайн</h1>
            <h2 id="message">Найдите противника для начала игры</h2>
        </div>
        <div class="game_container">
            <div class="fields_wrapper">
                <div class="own_field">
                    <h3>Поле Player1</h3>
                    <span class="bluetext">Случайным образом</span>
                    <div class="player1_field">
                        @await Html.PartialAsync("FieldMarkup")
                        <div id="ownfield"></div>
                        <div class="clickable"></div>
                    </div>
                    <div class="button_light" id="action_button">Найти противника</div>
                </div>
                <div class="enemy_field">
                    <h3>Поле Player2</h3>
                    <div class="player2_field">
                        @await Html.PartialAsync("FieldMarkup")
                        <div id="enemyfield"></div>
                        <div class="clickable"></div>
                        <div id="dark_rect">Найдите противника</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
